html, body {
    height: 100%;
    width: 100%;
}

#joke{
background-color: gray;
color: #333;
font-size: medium;
font-family: Arial, Helvetica, sans-serif;
padding: 10px;
text-align: center;
width: 100%;
}